*,
*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: bisque;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;

}

.wrapper__box {
    width: 10px;
    height: 80px;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid white;
    border-start-end-radius: 30%;
    border-start-start-radius: 30%;
    animation: load 2s linear infinite alternate;
}

@keyframes load {
    0% {
        box-shadow: inset 0 0 darkred;
    }
    100% {
        box-shadow: inset 0 -70px red;
    }
}

.wrapper__box__two {
    width: 10px;
    height: 80px;
    position: relative;
    border: 2px solid white;
    border-start-end-radius: 30%;
    border-start-start-radius: 30%;
    animation: wiggle 1.9s linear infinite alternate-reverse;
}

@keyframes wiggle {
    0% {
        box-shadow: inset 0 0 aqua;

    }
    100% {
        box-shadow: inset 0 -70px darkcyan;
    }
}

.wrapper__box__three {
    width: 10px;
    height: 80px;
    position: relative;
    margin-left: 10px;
    border: 2px solid white;
    border-start-end-radius: 30%;
    border-start-start-radius: 30%;
    animation: no-load 1.6s linear infinite alternate;
}

@keyframes no-load {
    0% {
        box-shadow: inset 0 0 green;

    }
    100% {
        box-shadow: inset 0 -70px greenyellow;
    }
}

.wrapper__square {
    width: 60px;
    height: 60px;
    position: relative;
    margin-left: 10px;
    background-image: linear-gradient(0deg, yellowgreen, green);
    animation: square 1s linear infinite alternate;
}

@keyframes square {
    0% {
        height: 30px;
        left: 0;
        bottom: 0;
    }
    100% {
        border-end-start-radius: 40%;
        border-end-end-radius: 40%;
        bottom: 60px;
        height: 60px;

    }   
}
